@charset "UTF-8";

@media screen and (max-width: 480px) {
    
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Roboto-Bold;
    src: url(fonts/Roboto-Bold.ttf)
}

@font-face {
    font-family: Roboto-Regular;
    src: url(fonts/Roboto-Regular.ttf);
}

body, html {
    background-color: white;
  }

h1 {
    margin-left: 30px;
    margin-top: 35px;
    margin-bottom: 15px;
    font-family: Roboto-Bold;
    font-size: 40px;
    color: rgb(0, 0, 34);
  }

p {
    margin-left: 30px;
    margin-bottom: 15px;
    font-family: Roboto-Regular;
}

#pemail, span {
    display: inline;
}

span {
    margin-left: 158px;
    font-size: 12px;
    font-weight: bold;
}

#subtitle {
    width: 300px;
    font-size: 14px;
}

#pemail {
    font-size: 12px;
    font-weight: bold;
}

img {
    width: 100%;
    margin: auto;
    text-align: center;
}

ul {
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 40px;
}

li {
    margin-bottom: 20px;
}

input#iemail {
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
    height: 50px;
    width: 380px;
    border-radius: 5px;
}

input:hover {
    cursor: pointer;
}

input::placeholder {
    padding-left: 20px;
}

input#button {
    display: block;
    margin-left: 30px;
    height: 50px;
    width: 385px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
    background-color: rgb(0, 0, 34);
}

#button:hover {
    cursor: pointer;
}



}