@charset "UTF-8";
/* 
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/
body{
    background-color: #7EDC95;
    font-family: Arial, Helvetica, sans-serif
}
h1{
    color: #00290a;
}

h2{
    color: #359C54;
}

h1#principal {
    text-align: center;
    background-color: #02290c;
    color: white;

}

.basico{
    color: rgb(0, 146, 0);
}

.intermediario{
    color: rgb(0, 109, 15);
}

.avancado{
    color: rgb(255, 124, 124);
}
